*{
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
   
  }
  
  body {
    font-family: sans-serif;
    color: #333;
    line-height: 1.5;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: linear-gradient(to top left, #28b487, #7dd56f);
  }

  .modal{
    position:absolute;
    top:50%;
    left:50%;
    width: 300px;
    background-color: aliceblue;
    transform: translate(-50%, -50%);
padding:5rem;
line-height:2rem;
z-index: 10;
  }

  .close-modal{
    position:absolute;
    left: 35rem;
    top: 3rem;
    padding: 8px;
    font-size: 20px;
    cursor:pointer;
  }
  .show-modal{
padding: 2rem;
font-size: 2rem;
position: absolute;
top: 5rem;
cursor: pointer;
  }

  .hidden{
    display: none;
  }
  .overlay {
 position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(7, 7, 7, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
  }